* {
  margin: 0;
  padding: 0;
}
.bg {
  position: relative;
  background: #00fdff url(./image/background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animate 15s linear infinite;
}
.moto {
  width: 150px;
  position: absolute;
  bottom: 0;
}
.moto:hover {
  width: 200px;
  transition: 0.5s;
}
/* .text {
  position: absolute;
  bottom: 200px;
  left: 150px;
} */

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
