.img {
  text-align: center;
}
.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
}

.table thead th {
  padding: 10px;
  font-weight: bold;
  color: #369;
  border-bottom: 3px solid #036;
}
.table tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
.table td {
  width: 350px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
